* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #121212;
  color: #fafafa;
}

a {
  color: #fafafa;
  text-align: center;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.phones-list li {
  padding: 15px;
  border: 1px solid #fafafa;
  margin: 2rem auto;
  width: fit-content;
  cursor: pointer;
}

/* navbar */
nav {
  background-color: #000;
}

nav a {
  display: inline-block;
  padding: 15px;
}

.homepage {
  margin: 5rem;
  font-size: 2rem;
}

.homepage h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* phones details */
.phones-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5rem auto;
}

/* loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #000000;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}